    <div id="menu-items">
    <ul>
    <li class="list-item" id="item-1">
    <a routerLink="/products/Clothings">Clothings</a>
    </li>
    <li class="list-item" id="item-2">
    <a routerLink="/products/Footwear">Footwear</a>
    </li>
    <li class="list-item" id="item-3">
    <a routerLink="/products/Mobiles">Mobiles</a>
    </li>
    <li class="list-item" id="item-4">
    <a routerLink="/products/Electronics">Electronics</a>
    </li>
    <li class="list-item" id="item-5">
    <a routerLink="/products/Groceries">Groceries</a>
    </li>
    </ul></div>
